<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="com.motwin.ide.cheatsheets.platform.samples"
            composite="false"
            contentFile="cheatsheets/en/realtimepush-android.xml"
            id="com.motwin.ide.android.cheatsheets.samples.realtimepush"
            name="Create a Real-Time Push Motwin Android application">
      </cheatsheet>
   </extension>
   <extension
         point="com.motwin.ide.dashboard.ui.dashboard">
      <uaLink
            id="com.motwin.ide.android.ui.dashboard.ualink.cheatsheets.realTimePush"
            listener="com.motwin.ide.dashboard.ui.links.CheatSheetHyperlinkListener:com.motwin.ide.android.cheatsheets.samples.realtimepush"
            part="com.motwin.ide.android.ui.dashboard.part.ua"
            text="Motwin Android Real-Time Push"
            type="cheatsheet">
      </uaLink>
   </extension>

</plugin>
