<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.motwin.ide.server.connectors">
	   <connectorWizard 
	   		name="Twitter" 
	   		version="1.0.0" 
	   		description="Twitter4j library purpose is to easily integrate your application with the Twitter API." 
	   		icon="icons/twitter.png"
	   		wizardClass="com.motwin.ide.server.connectors.twitter.internal.TwitterWizard">
	   </connectorWizard>
   </extension>
</plugin>
