<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.motwin.ide.server.connectors">
	   <connectorWizard 
	   		name="HTTP" 
	   		version="1.0.0" 
	   		description="Async Http Client library purpose is to easily execute HTTP requests and asynchronously process the HTTP responses." 
	   		icon="icons/http.png"
	   		wizardClass="com.motwin.ide.server.connectors.http.internal.HttpConnectorWizard">
	   </connectorWizard>
   </extension>
</plugin>
