<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.motwin.ide.server.connectors">
	   <connectorWizard 
	   		name="SQL" 
	   		version="1.0.0" 
	   		description="Connector purpose is to easily integrate your application with a SQL database using JDBC." 
	   		icon="icons/sql.png"
	   		wizardClass="com.motwin.ide.server.connectors.sql.internal.SqlConnectorWizard">
	   </connectorWizard>
   </extension>
</plugin>
